<% Object.keys(articles).forEach(function (id) { %>
  <nav>
    <a href="/">Home</a>
    <a href="/perfectgrade">Perfect Grade</a>
    <a href="/mastergrade">Master Grade</a>
    <a href="/expensive">Most Expensive</a>
  </nav>
<% }) %>
