<% include ../partials/nav %>
<h1> Perfect Grade </h1>
<article>
  <header>
    <h1>RX-78-2 Gundam Ver.2.0 Pure Gold Plating</h1>
  </header>
  <h3>$2350.00</h3>
  <figure>
    <img src="http://1.bp.blogspot.com/-oXeAXbd14zY/VWc4g8D-eBI/AAAAAAAACfI/kJtEpe2NXVo/s1600/club%2BMG%2B%25E3%2582%25AC%25E3%2583%25B3%25E3%2583%2580%25E3%2583%25A0%2B%25E3%2582%25AF%25E3%2583%25AD%25E3%2583%25BC%25E3%2583%25A0%25E3%2583%25A1%25E3%2583%2583%25E3%2582%25AD%2B%25282%2529.jpg" alt="Full Burst Gundam" height="400">
      <figcaption>
         It was made to commemorate the 100th edition of the Master Grade line and was given away to 100 people who entered the contest.
      </figcaption>
  </figure>
  <footer>Model #BAN0345</footer>
</article>

<article>
  <header>
    <h1>RX-78-2 Gundam (Full-Color Plated Version)</h1>
  </header>
  <h3>$750.00</h3>
  <figure>
    <img src="http://3.bp.blogspot.com/-YqyHEFVgERg/VVzyi92mIII/AAAAAAAFaro/tvSUG2txkrA/s1600/plated%2Brx-78-2%2Bgundam%2B%25285%2529.jpg" alt="Full Burst Gundam" height="400">
      <figcaption>
        This kit was originally sold at the JAF • CON 9 convention back in 2000 for ¥20,000 and was the first limited edition Perfect Grade ever made.
      </figcaption>
  </figure>
  <footer>Model #BAN0345</footer>
</article>

<article>
  <header>
    <h1> RX-78-2 Gundam Chrome Plating Ver.</h1>
  </header>
  <h3>$565.00</h3>
  <figure>
    <img src="http://4.bp.blogspot.com/-TVl7STFCdGo/UzLnd3NWgaI/AAAAAAADAZo/jJ4focNeQaY/s1600/19268-1.jpg" alt="00 Raiser" height="400">
      <figcaption>
        This kit was only available to Club MG members and was obtainable by collecting points and trading them in for special Club MG items.
      </figcaption>
  </figure>
  <footer>Model #BAN0345</footer>
</article>
