<% include ../partials/nav %>
<h1> Master Grade </h1>
<article>
  <header>
    <h1>Destiny Gundam</h1>
  </header>
  <h3>$62.40</h3>
  <figure>
    <img src="http://1.bp.blogspot.com/-z5yl3dCWs7w/U06Fn8HuP6I/AAAAAAAA920/DJ1YZmH-do8/s1600/6.jpg" alt="Full Burst Gundam" height="400">
      <figcaption>
        The second suit piloted by Shin Asuka from "Gundam Seed Destiny"
      </figcaption>
  </figure>
  <footer>Model #BAN0345</footer>
</article>

<article>
  <header>
    <h1>Double X</h1>
  </header>
  <h3>$42.99</h3>
  <figure>
    <img src="http://4.bp.blogspot.com/-33pB5h7TElc/VPAv_fXlMLI/AAAAAAAIecs/Sk8fs2OhCcw/s1600/banm150380.jpg" alt="Full Burst Gundam" height="400">
      <figcaption>
        From the TV series After War Gundam X
      </figcaption>
  </figure>
  <footer>Model #BAN0345</footer>
</article>

<article>
  <header>
    <h1>Aile Strike</h1>
  </header>
  <h3>$49.99</h3>
  <figure>
    <img src="http://2.bp.blogspot.com/-m78_T54lv_A/UaAMlT_2djI/AAAAAAABWz8/0WsP9kvuA9g/s1600/02.jpg" alt="00 Raiser" height="400">
      <figcaption>
        The Aile Striker has been designed to allow the attachment of the MG Sword and Launcher packs to create the Perfect Strike
      </figcaption>
  </figure>
  <footer>Model #BAN0345</footer>
</article>
