<% include ../partials/nav %>
<h1> Perfect Grade </h1>
<article>
  <header>
    <h1>Strike Freedom Gundam</h1>
  </header>
  <h3>$225.99</h3>
  <figure>
    <img src="https://hobbylink.tv/wp-content/uploads/2011/07/PG-Strike-Freedom-1.jpg?x53881" alt="Full Burst Gundam" height="400">
      <figcaption>
        Strike Freedom has Variable Phase Shift Armor
      </figcaption>
  </figure>
  <footer>Model #BAN0345</footer>
</article>

<article>
  <header>
    <h1>Phoenix Unicorn</h1>
  </header>
  <h3>$387.00</h3>
  <figure>
    <img src="https://4.bp.blogspot.com/-CrdPQVmfm2Y/WEUjpsNQvQI/AAAAAAALQRU/rCGw_nyVJ4QbBKdD4IENAy8NHMIJ3ve4ACLcB/s1600/25Ph001.jpg" alt="Full Burst Gundam" height="400">
      <figcaption>
        Features an extra stand with holders for the DRAGOON pods to be
        displayed suspended in flight and has a special gold coated titanium finish frame.
      </figcaption>
  </figure>
  <footer>Model #BAN0349</footer>
</article>

<article>
  <header>
    <h1>00 Raiser</h1>
  </header>
  <h3>$249.99</h3>
  <figure>
    <img src="https://s-media-cache-ak0.pinimg.com/originals/af/07/60/af0760ec83fe198f40a1916d37f79f2c.jpg" alt="00 Raiser" height="400">
      <figcaption>
         is the combined and mainstay form of GN-0000 00 Gundam and GNR-010 0 Raiser in mid-season 2 of Mobile Suit Gundam 00.
      </figcaption>
  </figure>
  <footer>Model #BAN0345</footer>
</article>
